:root {
/* check out a color palette library for ideas  https://coolors.co/palettes/trending */
    --green-blue: #7BE1C9;
    --yellow-green: #C3E791;
    --celeste: #B9EEEA;
    --pink: #fde2e4;
    --lavender: #cddafd;
}
* {
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: lightgreen;
    height:100vh;
    width:100vw;
    text-align: center;
    display: flex;
    justify-content: center;
}
.middle {
    height: 50vh;
    position: relative;
}
.bottom {
    height: 15vh;
    position: relative;
    top: 80%;
}
.board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px;
}
.levels {
    height: 10vh;
}
button {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
/* check out font families and get the link from  https://fonts.google.com/specimen/Roboto#styles */
    font-family: "Roboto", "sans-serif";
}
#play, #playLevel {
    color: black;
    background-color: var(--green-blue);
}
#playLevel {
    height: 10rem;
    width: 3rem;
    padding: 20px;
}
#eat, #eatLevel {
    color: black;
    background-color: var(--yellow-green);
}
#eatLevel {
    height: 10rem;
    width: 3rem;
    padding: 20px;
}
#sleep, #sleepLevel {
    color: black;
    background-color: var(--lavender);
}
#sleepLevel {
    height: 10rem;
    width: 3rem;
    padding: 20px;
}