:root {
/* check out a color palette library for ideas  https://coolors.co/palettes/trending */
    --green-blue: #7BE1C9;
    --yellow-green: #C3E791;
    --celeste: #B9EEEA;
    --pink: #fde2e4;
    --lavender: #cddafd;
}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--celeste);
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
}
button {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.levels {
    flex-direction: row;
}
#levels {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#btns {
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
}
#play, #playLevel {
    background-color: var(--green-blue);
}
#playLevel {
    width: 10rem;
}
#eat, #eatLevel {
    background-color: var(--yellow-green);
}
#eatLevel {
    width: 10rem;
}
#sleep, #sleepLevel {
    background-color: var(--lavender);
}
#sleepLevel {
    width: 10rem;
}