:root {
/* check out a color palette library for ideas  https://coolors.co/palettes/trending */
    --green-blue: #7BE1C9;
    --yellow-green: #C3E791;
    --celeste: #B9EEEA;
    --pink: #fde2e4;
    --lavender: #cddafd;
}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgreen;
    height: 100vh;
    width: 100vw;
}
#play, #playLevel {
    background-color: var(--green-blue);
}
#playLevel {
    width: 10rem;
}